<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/app.css">
        <title>Eliminatorias</title>
        <!--<title th:text="#{jornada.list.headline}"/>-->
    </head>
    <body>
        <div class="caja_resultados">
            <div class="caja-titulos">
                <h2 class="titulo-fecha">RESULTADOS</h2>
                <h1 class="titulo-fecha">DE LA FECHA</h1>
            </div>
            <h3 class="texto-fecha">Fecha 1</h3>
            <a href="detalles_partido1.html" class="partido-link">
                <div class="content-resultado">
                    <img class="bandera" src="imagenes/ecu.png" alt="" />
                    <h4 class="nombre">Ecuador</h4>
                    <h4 class="resultado">0</h4>
                    <h4 class="separacion">-</h4>
                    <h4 class="resultado">3</h4>
                    <h4 class="nombre">Uruguay</h4>
                    <img class="bandera" src="imagenes/uru.png" alt="" />
                </div>
            </a>
            <a href="detalles_partido1.html" class="partido-link">
                <div class="content-resultado">
                    <img class="bandera" src="imagenes/ecu.png" alt="" />
                    <h4 class="nombre">Ecuador</h4>
                    <h4 class="resultado">0</h4>
                    <h4 class="separacion">-</h4>
                    <h4 class="resultado">3</h4>
                    <h4 class="nombre">Uruguay</h4>
                    <img class="bandera" src="imagenes/uru.png" alt="" />
                </div>
            </a>
            <a href="detalles_partido1.html" class="partido-link">
                <div class="content-resultado">
                    <img class="bandera" src="imagenes/ecu.png" alt="" />
                    <h4 class="nombre">Ecuador</h4>
                    <h4 class="resultado">0</h4>
                    <h4 class="separacion">-</h4>
                    <h4 class="resultado">3</h4>
                    <h4 class="nombre">Uruguay</h4>
                    <img class="bandera" src="imagenes/uru.png" alt="" />
                </div>
            </a>
            <a href="detalles_partido1.html" class="partido-link">
                <div class="content-resultado">
                    <img class="bandera" src="imagenes/ecu.png" alt="" />
                    <h4 class="nombre">Ecuador</h4>
                    <h4 class="resultado">0</h4>
                    <h4 class="separacion">-</h4>
                    <h4 class="resultado">3</h4>
                    <h4 class="nombre">Uruguay</h4>
                    <img class="bandera" src="imagenes/uru.png" alt="" />
                </div>
            </a>
            <a href="detalles_partido1.html" class="partido-link">
                <div class="content-resultado">
                    <img class="bandera" src="imagenes/ecu.png" alt="" />
                    <h4 class="nombre">Ecuador</h4>
                    <h4 class="resultado">0</h4>
                    <h4 class="separacion">-</h4>
                    <h4 class="resultado">3</h4>
                    <h4 class="nombre">Uruguay</h4>
                    <img class="bandera" src="imagenes/uru.png" alt="" />
                </div>
            </a>
        </div>
    </body>
</html>