<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{seleccion.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{seleccion.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/seleccions/add}" th:text="#{seleccion.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${seleccions.empty}" th:text="#{seleccion.list.empty}" />
            <div th:if="${!seleccions.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{seleccion.nombre.label}" scope="col" />
                            <th th:text="#{seleccion.sigla.label}" scope="col" />
                            <th th:text="#{seleccion.pais.label}" scope="col" />
                            <th th:text="#{seleccion.escudo.label}" scope="col"/>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="seleccion : ${seleccions}">
                            <td th:text="${seleccion.nombre}" />
                            <td th:text="${seleccion.sigla}" />
                            <td th:text="${seleccion.nombrePais}" />
                            <td><img th:src="@{/seleccions/imagen/{id}(id=${seleccion.id})}" alt="Escudo" style="max-width: 100px; max-height: 100px;" /></td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/jugadors/listBySeleccion/{id}(id=${seleccion.id})}" th:text="Jugadores" class="btn btn-sm btn-secondary" />
                                    <a th:href="@{/seleccions/edit/{id}(id=${seleccion.id})}" class="btn btn-sm btn-success">
                                        <i class="far fa-edit" th:title="#{seleccion.list.edit}"></i>
                                    </a>
                                    <form th:action="@{/seleccions/delete/{id}(id=${seleccion.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash" th:title="#{seleccion.list.delete}"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
